AsyncWebServer/TestClient/src/conf/wsdl/localhost_8080/testService/TestwsService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://test/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://test/">

<xs:element name="concat" type="tns:concat"/>

<xs:element name="concatResponse" type="tns:concatResponse"/>

<xs:element name="get" type="tns:get"/>

<xs:element name="getResponse" type="tns:getResponse"/>

<xs:element name="inc" type="tns:inc"/>

<xs:element name="incResponse" type="tns:incResponse"/>

<xs:complexType name="concat">
<xs:sequence>
<xs:element name="str1" type="xs:string" minOccurs="0"/>
<xs:element name="str2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="concatResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="inc">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="incResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="get">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>